<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.cschedule.mapper.MemberMapper">

<!--    <resultMap id="memberMap" type="member">-->
<!--        <result property="userId" column="user_id" />-->
<!--        <result property="courseId" column="course_id" />-->
<!--        <result property="experience" column="experience" />-->
<!--        <result property="arrive" column="arrive" />-->
<!--        <result property="resource" column="resource" />-->
<!--        <result property="experience" column="experience" />-->
<!--        <result property="score" column="score" />-->
<!--        <result property="remark" column="remark" />-->
<!--    </resultMap>-->




    <!-- 被其他mapper引用 -->
    <select id="getMembersByCourseId" parameterType="string" resultType="memberDto">
        select m.course_id, u.user_id, m.course_id, u.user_name stuName, u.stu_tu_number stuNum, u.avatar, u.remark signature, m.experience, m.resource ,m.arrive, m.score, m.remark
        from t_member m, course_user u
        where course_id = #{courseId}
        and m.user_id = u.user_id
    </select>

    <update id="grade" parameterType="member">
        update t_member
        set score = #{score}, remark = #{remark}
        where course_id = #{courseId}
        and user_id = #{userId}
    </update>

    <update id="updateMember" parameterType="member">
        update t_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="arrive != null">arrive = #{arrive},</if>
            <if test="resource != null">resource = #{resource},</if>
            <if test="experience != null">experience = #{experience},</if>
            <if test="score != null">score = #{score},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where user_id = #{userId} and course_id = #{courseId}
    </update>
    <delete id="customDelete" parameterType="Member">
        delete from t_member where user_id = #{userId} and course_id = #{courseId}
    </delete>

</mapper>