<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.cschedule.mapper.ResourceMapper">

    <!-- 被其他mapper引用 -->
    <select id="getResourcesByCourseId" parameterType="string" resultType="resource">
        select * from t_resource
        where course_id = #{courseId}
    </select>

    <update id="updateResource" parameterType="resource">
        update t_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="resId != null">res_id = #{resId},</if>
            <if test="resName != null">res_name = #{resName},</if>
            <if test="resSize != null">res_size = #{resSize},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="downLink != null">down_link = #{downLink},</if>
            <if test="experience != null">experience = #{experience},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
        </trim>
        where res_id = #{resId}
    </update>
</mapper>